.DS_Store
SAFEBOX/*
datasets/download
datasets/SPEECHIO_*
oss
tmp.sh
test_env
results
rest_api.sh

# not ready yet
models/speechio_kaldi

# aispeech credential
models/aispeech_api/API_KEY
models/aispeech_api/PRODUCT_ID

# aliyun credential
models/aliyun_api/APPKEY
models/aliyun_api/ACCESS_KEY_ID
models/aliyun_api/ACCESS_KEY_SECRET
models/aliyun_api/TOKEN
models/aliyun_api/TOKEN_EXPIRE_TIME

# baidu credential
models/baidu_pro_api/API_KEY
models/baidu_pro_api/SECRET_KEY

# microsoft azure cognitive service credential
models/microsoft_api/SUBSCRIPTION_KEY

# yitu api credential
models/yitu_api/DEV_ID
models/yitu_api/DEV_KEY