.DS_Store
credentials/*.cfg

# model zoo
models/*
!models/zoo.yaml

# zh models
!models/aispeech_api_zh
!models/aliyun_api_zh
!models/baidu_pro_api_zh
!models/microsoft_api_zh
!models/sogou_api_zh
!models/tencent_api_zh
!models/yitu_api_zh

# en models
!models/aliyun_api_en

# dataset zoo
datasets/*
!datasets/MINI
!datasets/zoo.yaml
!datasets/kaldi_to_speechio.py
!datasets/run_kaldi_to_speechio.sh
!datasets/kaldi_to_json.py

tmp.sh
results
rest_api.sh
requests/2021*
tiobe.sh
log.*
tmp*

# oss
.ossutil_checkpoint
ossutil_output
utils/oss

# aispeech credential
models/aispeech_api_zh/API_KEY
models/aispeech_api_zh/PRODUCT_ID

# aliyun credential
models/aliyun_api_zh/APPKEY
models/aliyun_api_zh/ACCESS_KEY_ID
models/aliyun_api_zh/ACCESS_KEY_SECRET
models/aliyun_api_zh/TOKEN
models/aliyun_api_zh/TOKEN_EXPIRE_TIME

models/aliyun_api_en/APPKEY
models/aliyun_api_en/ACCESS_KEY_ID
models/aliyun_api_en/ACCESS_KEY_SECRET
models/aliyun_api_en/TOKEN
models/aliyun_api_en/TOKEN_EXPIRE_TIME

# baidu credential
models/baidu_pro_api_zh/API_KEY
models/baidu_pro_api_zh/SECRET_KEY

# microsoft azure cognitive service credential
models/microsoft_api_zh/SUBSCRIPTION_KEY

# sogou api credential
models/sogou_api_zh/APP_ID
models/sogou_api_zh/APP_KEY
models/sogou_api_zh/TOKEN

# tencent api credential
models/tencent_api_zh/SECRET_ID
models/tencent_api_zh/SECRET_KEY

# yitu api credential
models/yitu_api_zh/DEV_ID
models/yitu_api_zh/DEV_KEY
