.DS_Store
nohup.out
credentials/*.cfg
__pycache__

# model zoo
models/*
!models/zoo.yaml

# zh models
!models/aispeech_api_zh
!models/aliyun_api_zh
!models/baidu_pro_api_zh
!models/bilibili_api_zh
!models/hiasr_api_zh
!models/iflytek_lfasr_api_zh
!models/microsoft_sdk_zh
!models/tencent_api_zh
!models/yitu_api_zh

# en models
!models/aliyun_api_en
!models/baidu_api_en
!models/google_api_en
!models/tencent_api_en
!models/microsoft_sdk_en

# dataset zoo
datasets/*
!datasets/MINI
!datasets/zoo.yaml

tmp.sh
results
rest_api.sh
requests/trash
log.*
*.log
tmp*
*.csv

# oss
.ossutil_checkpoint
ossutil_output
utils/oss

# aispeech credential
models/aispeech_api_zh/API_KEY
models/aispeech_api_zh/PRODUCT_ID

# aliyun credential
models/aliyun_api_zh/APPKEY
models/aliyun_api_zh/ACCESS_KEY_ID
models/aliyun_api_zh/ACCESS_KEY_SECRET
models/aliyun_api_zh/TOKEN
models/aliyun_api_zh/TOKEN_EXPIRE_TIME

models/aliyun_api_en/APPKEY
models/aliyun_api_en/ACCESS_KEY_ID
models/aliyun_api_en/ACCESS_KEY_SECRET
models/aliyun_api_en/TOKEN
models/aliyun_api_en/TOKEN_EXPIRE_TIME

# baidu credential
models/baidu_pro_api_zh/API_KEY
models/baidu_pro_api_zh/SECRET_KEY

models/baidu_api_en/API_KEY
models/baidu_api_en/SECRET_KEY

# google api
models/google_api_en/CREDENTIALS.json

# hiasr
models/hiasr_api_zh/assets

# iflytek
models/iflytek_lfasr_api_zh/APP_ID
models/iflytek_lfasr_api_zh/SECRET_KEY

# microsoft azure cognitive service
models/microsoft_sdk_zh/SUBSCRIPTION_KEY

models/microsoft_sdk_en/SUBSCRIPTION_KEY

# tencent api credential
models/tencent_api_zh/SECRET_ID
models/tencent_api_zh/SECRET_KEY

models/tencent_api_en/SECRET_ID
models/tencent_api_en/SECRET_KEY

# yitu api credential
models/yitu_api_zh/DEV_ID
models/yitu_api_zh/DEV_KEY
